.mute_message .mutetooltip {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 110%;
    margin-left: -53px;
    
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.mute_message .mutetooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.mute_message:hover .mutetooltip {
    visibility: visible;
    opacity: 1;
}

.mute_message {
    margin-top: .46rem;
    margin-left: 4px;
    display: inline-block;
    vertical-align: top;
    width: 12px;
    height: 12px;
    background-size: contain !important;
}

.im-mess--actions {
    margin-right: -30px !important;
}