.mute_message .mutetooltip {
    visibility: hidden;
    width: auto;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    font-size: 1em;
    padding: 4px 7px 5px;
    line-height: 1.154;
    border-radius: 3px;
    
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 50%;
    margin-left: -60px;
    
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.mute_message .mutetooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 80%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.mute_message:hover .mutetooltip {
    visibility: visible;
    opacity: 1;
}

.mute_message {
    width: 16px;
    height: 16px;
    position: relative; 
    display: inline-block;
    vertical-align: top;
    /*background: url('chrome-extension://__MSG_@@extension_id__/mute.png') !important;*/
    background-repeat: no-repeat;
    padding: 6px;
}